body{
    background-image: url(time5.jpg);
    background-size: cover;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.sample{
    background-color:rgba(139, 171, 245, 0.25);
    backdrop-filter: blur(3px);
    text-align: center;
    color:#182747;
    cursor: pointer;
    padding: 4px;
    letter-spacing: 4px;
    border-radius: 30px;
    /* box-shadow:#F5EFE6 5px 5px 5px 5px; */
    /* box-shadow: 10px 5px 5px rgb(27, 24, 24); */
    width: 600px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
button{
    border-radius: 30px;
    background-color:#B7C4CF;
    color: navy;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    padding: 30px;
    width: 150px;
    border: 5px;
    text-align: center;
}
button:hover{
    background-color: whitesmoke;
    color: skyblue;
}
h1{
    color: #CDF0EA;
    text-shadow: 4px 5px black;
    font-family: monospace;
    font-size: 40px;
}
p{
    font-size: 50px;
}